################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Microbit.UWP/obj
/Microbit.UWP/bin
/Microbit.CPA/Microbit.CPA.Android/obj
/Microbit.CPA/Microbit.CPA.Android/bin/Debug
/Microbit.CPA/Microbit.CPA.UWP/obj/x86/Debug
/Microbit.CPA/Microbit.CPA.iOS/obj/iPhone/Debug
/Microbit.CPA/Microbit.CPA.UWP/obj
