################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/Microbit.UWP/obj
/Microbit.UWP/bin/x86/Debug
/Microbit.UWP/bin/ARM/Debug
/Microbit.UWP/bin/ARM/Debug
